venv/
.venv/

# Python cache files
__pycache__/
*.pyc

# Secrets - NEVER commit these
.env
docker.env

# Runtime Data, Logs, and Caches
chroma_db_wms/
chroma_db_wms_faq/
huggingface_cache/
redis_data/
chat_history.csv

# OS / IDE specific files (Good practice)
.vscode/
.idea/
desktop.ini